* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    margin-bottom: 20px;
}

li {
    color: #FD8D30;
}
li * {
    color: black;
}

.logo {
    position: fixed;
    z-index: 1;
    margin: 15px;
}

.logo-underline {
    background-color: #FD8D30;
    width: 100%;
    height: 5px;

    position: relative;
    left: 10px;
    border-radius: 1px;
}

.sidebar {
    position: fixed;
    background-color: #FFFFFF;
    left: 50px;

    width: 15vw;

    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link {
    position: relative;
    top: 7px;

    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

    transition: 0.5s;
}

.nav-link:hover {
    margin-left: 10px;
}

.content {
    position: relative;
    padding: 50px;
    margin-left: 15vw;

    background-color: #ECECEC;

}

.container-top {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.container {
    margin-bottom: 15px;

    background-color: #FFFFFF;
    padding: 20px;
}

.container ul {
    margin-left: 50px;
}

.container-bottom {
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;

    margin-bottom: 0px;
}
